body {
    background-color: #f7dab4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    color: #F5CD30;
    font-size: 1.9em;
    font-weight: bold;
}

h1#principal {
    background-color: #F5432F;
    color: #ffffff;
    font-size: 2.3em;
    text-align: center;

}

h2 {
    color: #ffaa00;
}
p {
    font-size: 0.9em;
}

.titulos {
    background-color: #f5782f;
}

.sub-titulos1 {
    background-color: #e1f52f;
}

.sub-titulos2 {
    background-color: #a76400;
}